.ghx-issue {
  border-radius: 0 0 3px 3px;
}

.ghx-issue-compact .ghx-plan-extra-fields {
  margin: 0 !important;
  height: auto !important;
  padding-left: 42px;
}

.ghx-issue-compact .ghx-extra-field ~ .ghx-extra-field-seperator {
  display: none !important;
}

.ghx-issue-compact .ghx-extra-field[data-tooltip^="Team:"],
.ghx-issue .ghx-extra-field[data-tooltip^="Team:"] {
  display: none !important;
}

.ghx-backlog-card .ghx-grabber {
  width: 3px !important;
}

.ghx-backlog-card-expander-spacer {
  width: 12px !important;
}
