.user-content-block,
.activity-comment .action-body {
  visibility: hidden;
}

.user-content-block.markdown-ready,
.activity-comment .action-body.markdown-ready {
  visibility: visible;
}

.markdown-ready {
  > *:first-child {
    margin-top: 0 !important;
  }

  p,
  ul,
  ol,
  dl,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  pre,
  table,
  img {
    margin-top: 12px !important;

    &:first-child {
      margin-top: 0 !important;
    }
  }

  img {
    max-width: 100%;
    display: block;
  }

  blockquote {
    border-left-width: 2px;
    margin-left: 15px;
    padding: 10px 15px;
  }

  ul,
  ol {
    padding-left: 25px;
  }

  code,
  pre {
    font-family: Menlo, Courier, monospace;
    background: rgba(0, 0, 0, .03);
    font-size: 90%;
    border-radius: 3px;
  }

  code {
    padding: 2px 5px;
  }

  pre {
    padding: 12px;
    line-height: 1.4;
    overflow: auto;

    code {
      background: none;
      padding: 0;
    }
  }

  table {
    width: 100%;
    overflow: auto;
    border-collapse: collapse;

    td,
    th {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }

    th {
      text-align: left;
    }
  }
}
