@import "../sass/mixins";
@import "../sass/placeholders";

@import "~normalize.css";
@import "~spectre.css/dist/spectre.css";
@import "~spectre.css/dist/spectre-icons.css";

$color-page-bg: #F4F5F7;
$color-team: #333;
$color-team-bg: white;
$color-team-bg-hover: #ebecf0;
$color-team-shadow: rgba(9, 30, 66, 0.25);

@keyframes teamEnter {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

html, body {
  height: 100%;
  overflow: hidden;
  background: $color-page-bg;
  user-select: none;
}

input {
  user-select: text;
}

.elm-overlay {
  z-index: 9999;
}

header {
  padding: 10px 0;
}

.navbar-section {
  .dropdown,
  .btn {
    margin-left: 5px;
  }
}

.outer-wrap {
  padding: 0 15px;
  transition: all 250ms ease-in-out;
  opacity: 0;

  &.loaded {
    opacity: 1;
  }
}

.empty {
  background: transparent;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.menu {
  .menu-item {
    &.disabled {
      pointer-events: none;
      opacity: .3;
    }

    a {
      cursor: pointer;
    }
  }
}

.modal {
  &.modal-sm .modal-container {
    max-width: 360px;
    padding: 0 .4rem;
  }

  .modal-container .modal-body {
    padding-top: 0;
    max-height: 60vh;
  }

  .modal-footer {
    .btn-error {
      float: left;
    }

    .btn-form {
      margin-left: 10px;
      min-width: 70px;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.teams {
  margin: 0;

  > li {
    vertical-align: top;
    background: $color-team-bg;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px $color-team-shadow;
    color: $color-team;
    font-size: 14px;
    line-height: 16px;
    margin: 0 15px 15px 0;
    padding: 10px;
    position: relative;
    display: inline-block;
    width: 220px;
    cursor: pointer;
    transition: background-color 140ms ease-in-out;
    animation: 300ms ease-in-out teamEnter;

    &:hover {
      background: $color-team-bg-hover;
    }

    .name {
      display: block;
      min-height: 48px;
    }

    .color {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: transparent;
    }
  }
}
